In [ ]:
from sqlalchemy import create_engine
import pandas as pd
from collections import defaultdict
from itertools import groupby
from operator import itemgetter
import json

In [ ]:
db = create_engine("mysql+pymysql://nook:2909@192.168.10.22/test")

## Connect API

In [ ]:
df = pd.read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/aod/orob1.csv", encoding='utf-8')
df = df.rename(columns={"Unnamed: 0":"idx"})

#Multigroup
# grouped = df.groupby(['dilution', 'more_colums_to_group'])
#Singlegroup
grouped = df.groupby('dilution')

grouped_data = {}

for group_name, group_data in grouped:
    grouped_data["dilution_group"] = group_name
    grouped_data["result"] = list(group_data.to_dict(orient='records'))
    
grouped_data

---

# Connect Database

In [ ]:
sql = """
    SELECT a.id as id,
        a.customer as customer,
        a.date_start as datetime,
        e.id as engineer_id,
        e.engineer_name as engineer_name,
        e.full_name as full_name
    FROM
        engineer e LEFT join addjob as a on e.engineer_name = a.engineer
    WHERE e.engineer_name = 'Bird'
"""

## Read SQL and Groupby Joined Table

In [ ]:
#อ่านจาก SQL Query Joined
df = pd.read_sql(sql, db)
#Groupข้อมูลจาก Primary Table
grouped = df.groupby(['engineer_id', 'engineer_name'])
#Empty Dict
grouped_data = {}
#Loop -> GroupBy, Result Data
for group_name, group_data in grouped:
    ids = group_name[0]
    names = group_name[1]
    grouped_data["engineer_id"] = ids
    grouped_data["engineer_name"] = names
    grouped_data["result"] = group_data.to_dict(orient='records')

## Loop Nested Values

In [ ]:
for key in grouped_data:
    for value in grouped_data["result"]:
        print(value)