In [ ]:
import pandas as pd
from datetime import datetime
import datetime

In [ ]:
df = pd.read_csv('Connection.csv',encoding = "ISO-8859-1")

### วิธีเช็คจำนวนแถว และจำนวนคอลัมน์

In [ ]:
df.shape

### วิธีแปลงประเภทข้อมูล (Data Type) ใน Data Frame

In [ ]:
df['hour'] = pd.to_numeric(df['hour']) # แปลงเป็น Numeric
df['hour'] = df['hour'].astype('int') # อีกวิธีในการแปลงค่า สามารถใช้วิธีนี้แปลงเป็น float ได้

### วิธีเช็ค Summary (count, min, max, mean) แบบแยกกลุ่ม

In [ ]:
test = df.groupby(['NAME'])
test.describe()

### วิธีเลือกหลายคอลัมน์จาก DataFrame

In [ ]:
df[['C1','C2']]

### วิธีเลือกแถวตามเงื่อนไขที่ต้องการ

In [ ]:
df[df['C1']>50] # เงื่อนไขแบบง่าย ๆ
df = df.loc[df.C1.isin([1,2,3])] # เงื่อนไขแบบซับซ้อน
#ถ้ามีหลายเงื่อนไขเราสามารถใช้ & (and) หรือ | (or) ได้
df[(df['C1']>50) & ((df['C2']<25) | (df['C2']>75))]
#หรือใช้ Query เป็นเงื่อนไขได้ด้วย มีประโยชน์มากเวลาเรามีเงื่อนไขแปลก ๆ ไม่ต้องเขียนลูปขึ้นมาเองเลยครับ
df2 = df.query('C1 > C2')

### วิธีเพิ่มคอลัมน์ใหม่

In [ ]:
df['new'] = dataframe['old'] + 10 # use old values
df['new2'] = 5 # apply the same value

### การต่อ DataFrame (รวมข้อมูล DataFrame เช่น เอา CSV มาต่อกัน)

In [ ]:
pd.concat([df1,df2], axis=1) # รวมกัน 2 คอลัมน์ (axis = 0 คือแถว, axis = 1 คือคอลัมน์)
pd.concat([df1,df2,df3)] # รวมมากกว่า 2 คอลัมน์ก็ได้
pd.concat(…, ignore_index=True) # รวมเสร็จแล้ว reset index ให้ด้วย ควรใช้ ไม่งั้นจะเจอ row ID ซ้ำกันตอนรวมร่าง
pd.concat(…, join='inner') # รวมร่างเฉพาะคอลัมน์ที่ df1 กับ df2 มีทั้งคู่
pd.concat(…, keys=['source1', 'source2']) # เพิ่มคอลัมน์เข้าไปด้วยเพื่อระบุว่า Row แต่ละอันมาจาก Data Frame อันไหน
pd.concat(…, join_axes=[df2.index]) # เลือกรวมร่างเฉพาะ row index ที่เรากำหนดได้

### การต่อ DataFrame แบบ Join

In [ ]:
pd.merge(df1, df2, left_on="col1", right_on="col2", how="inner")

### การหาค่า Mean, Sum, Max (Aggregate) แบบทั้ง DataFrame

In [ ]:
newdf = df.agg(['sum', 'max','mean'])

### การรัน Function เดียวกันทุกแถว หรือทุกคอลัมน์

In [ ]:
# sum for columns
df2 = df[['C1','C2']].apply(sum,axis=0)
# sum for rows
df2 = df[['C1','C2']].apply(sum,axis=1)

### รันคำสั่งที่เขียนเองกับทุกแถวใน 1 คอลัมน์

In [ ]:
dataframe['C1'] = dataframe['C1'].map(lambda x: x-100)
#รันคำสั่งที่เขียนเองกับทุกค่า
function_result = dataframe.applymap(lambda x: x*10)

### คำนวณ Cross Tabulation
Cross Tabulation มีประโยชน์มากเวลาเราอยากรู้ว่ามี Data ที่ตรงกับกรุ๊ป A ของคอลัมน์ 1 และกรุ๊ป B ของคอลัมน์ 2 เท่าไหร่ เช่น มีนักเรียนผู้ชาย (คอลัมน์ gender) กี่คนในมัธยมปลาย (คอลัมน์ education) แบบนี้เป็นต้น

หรือถ้าใครใช้ PivotTable ใน Excel มาก่อน ก็เหมือนกันเลยครับ

In [ ]:
aggregate = pandas.crosstab(dataframe.C1, dataframe.C2)

### วิธีเช็คว่ามีแถวไหนข้อมูลซ้ำมั้ย (Duplicated)

In [ ]:
dataframe.duplicated() # หาอันที่เหมือนกันทุกคอลัมน์
dataframe.duplicated('C1') # หาอันที่ซ้ำกันเฉพาะคอลัมน์ C1
dataframe.duplicated(['C1', 'C2']) # หาอันที่ซ้ำกันเฉพาะคอลัมน์ C1 และ C2

### วิธีการลบ Duplicate
เอาไว้ใช้ตอนเราเจอว่าทุกคอลัมน์ซ้ำกันหมดเลย ซึ่งเป็นเคสที่บอกว่าข้อมูลน่าจะซ้ำ ลบออกได้ (ขึ้นอยู่กับข้อมูลด้วยนะครับ บางข้อมูลอาจจะไม่ได้แปลว่าซ้ำแล้วลบได้):

In [ ]:
# Remove the duplicates
df.drop_duplicates(['A', 'B', 'C'], inplace=True)

# Reset dataframe index after drop_duplicates.
df.reset_index(drop=True, inplace=True)

len(df)

### วิธีการลบแถว และลบคอลัมน์

In [ ]:
dataframe = dataframe.drop('C1', axis=1)
df.drop(['C1'], axis=1, inplace=True) # แบบนี้ก็ได้
df.drop(['C1', 'C2', 'C3'], 1, inplace=True) # ลบทีละหลายคอลัมน์ก็ได้
dataframe.reset_index(drop=True) # Reset index

### วิธีการลบแถวที่มี Missing Value
ข้อควรระวัง: การที่อยู่ ๆ เราลบแถวที่มี Missing Value ทิ้งไปเลยอาจจะไม่ใช่วิธีที่ดีที่สุดในการทำ Data Analysis เสมอไปนะครับ บางเคสการ Impute (คำนวณหาค่าไปใส่) จะดีกว่า

In [ ]:
dataframe2 = dataframe.dropna(axis=0)

### การลูปข้อมูลแต่ละคอลัมน์ และแต่ละแถว
การลูปมีประโยชน์มากถ้าเราต้องการเขียนฟังก์ชั่นแปลก ๆ ใช้เองที่ Pandas ไม่รองรับ (หรืออาจจะรองรับแต่เราหาไม่เจอ เขียนเองง่ายกว่า) สามารถลูปได้ทั้งแต่ละคอลัมน์ และแต่ละแถว

In [ ]:
for col_idx,data in dataframe.iteritems():
    print ("column:",col_idx)
    print ("column data:")
    print (data,"\n")

การลูปข้อมูลแต่ละแถว

In [ ]:
for col_idx,data in dataframe.iterrows():
    print ("row:",col_idx)
    print ("row data:")
    print (data,"\n")

### วิธีการเปลี่ยนชื่อคอลัมน์ (Rename)

In [ ]:
dataframe.rename(columns={'old':'new'},inplace=True)

### วิธีการใส่คำนำหน้าคอลัมน์ (Prefix)
อันนี้มีประโยชน์มากตอนเรามีข้อมูลหลาย ๆ ชุด และต้องการ Merge โดยอยากให้ชื่อคอลัมน์ไม่ซ้ำกัน

In [ ]:
df2 = df.add_prefix('data_')

### วิธีการแทนค่าใน DataFrame
เหมาะมากเวลาต้องการแก้ Typo Error เช่น เราอยากได้ค่า Bangkok แต่เรารู้ว่ามีคนเขียนเป็น BKK อะไรแบบนี้ (รันคำสั่ง .unique เพื่อดูก่อน)

เราสามารถ Replace ทั้ง DataFrame ได้เลยแบบนี้

In [ ]:
df['NAME'].replace({
        'Mobile Data':'Cellular',
        'Network Operator':'Operator'
    }, inplace=True)

### วิธีการแทนที่ Unixtime ด้วย Datetime

In [ ]:
#หากเป็น Type Object ต้อง Replace เอาค่า comma ออกก่อน
df['TIME'] = df["TIME"].str.replace(',','')
#แปลงจาก Unix เป็น DT
df['DATETIME'] = pd.to_datetime(df['TIME'], unit='s')
#ลบ Column Unix เดิมออก
df = df.drop(columns='TIME')