In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
import pyspark
import pandas as pd
import os
import requests
from datetime import datetime
import pyarrow

In [2]:
os.environ['HADOOP_CONF_DIR'] = '/etc/hadoop/conf'
os.environ['JAVA_HOME'] = '/usr/local/jdk8u222-b10'
os.environ['HADOOP_USER_NAME']='hive'
os.environ['PYSPARK_PYTHON'] ='/HDFS01/anaconda3/envs/main/bin/python'
conf = pyspark.SparkConf().setAll([
     ('spark.driver.maxResultSize', '0'),
     ('spark.driver.memory', '2g'),
     ('spark.sql.repl.eagerEval.enabled','true'),
     ('hive.strict.managed.tables','false'),
     ('hive.metastore.uris', 'thrift://nn01.bigdata:9083'),
     ('metastore.client.capability.check','false')
    ])
spark = SparkSession.builder \
        .master("local[*]") \
        .appName("myApp") \
        .config(conf=conf) \
        .enableHiveSupport() \
        .getOrCreate();

Warning: Ignoring non-Spark config property: hive.strict.managed.tables
Warning: Ignoring non-Spark config property: hive.metastore.uris
Warning: Ignoring non-Spark config property: metastore.client.capability.check
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/03 06:39:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/04/03 06:39:59 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/04/03 06:39:59 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/04/03 06:39:59 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/04/03 06:39:59 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/04/03 06:39:59 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

In [4]:
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("workby", StringType(), True),
    StructField("customer", StringType(), True),
    StructField("site", StringType(), True),
    StructField("malltype", StringType(), True),
    StructField("worktype", StringType(), True),
    StructField("details", StringType(), True),
    StructField("onsite", StringType(), True),
    StructField("time", StringType(), True),
    StructField("travel", StringType(), True),
    StructField("engineer", StringType(), True),
    StructField("status", StringType(), True),
    StructField("day", StringType(), True),
    StructField("date_start", StringType(), True),
    StructField("date_end", StringType(), True),
    StructField("status_work", StringType(), True),
    StructField("end_job_detail", StringType(), True),
    StructField("file_location", StringType(), True),
    StructField("update_by", StringType(), True)
])

In [5]:
df = spark.createDataFrame(pd.read_json(f"http://engineer.da.co.th/api_json.php?all"), schema=schema)

/HDFS01/anaconda3/envs/main/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [ ]:
df2 = df.repartition(5, "date_start")

In [6]:
df

+----+------+-----------+--------------------+--------+--------+--------------------+------+-----+---------+--------------+-------+--------+----------+----------+-----------+------------------+-------------+---------+
|  id|workby|   customer|                site|malltype|worktype|             details|onsite| time|   travel|      engineer| status|     day|date_start|  date_end|status_work|    end_job_detail|file_location|update_by|
+----+------+-----------+--------------------+--------+--------+--------------------+------+-----+---------+--------------+-------+--------+----------+----------+-----------+------------------+-------------+---------+
|1866|   NAM|  Samsonite|central festival ...| Retails|   Alert|เปลี่ยน กล้อง viv...|Remote|16:00|        -|          Toey|       |   ศุกร์|2023-03-31|2023-03-31|           |                  |             |      nam|
|1865|   NAM|       Bata|        BigC หาดใหญ่| Retails|   Alert|กล้องเบอร์ 01 ไม่...|Remote|18:00|        -|          Dach|       |   ศุกร์|2023-03-31|2023-03-31|           |                  |             |      nam|
|1864|   NAM|       Bata|   Central Pisanulok| Retails|   Alert|กล้องเบอร์ 01 ไม่...|Remote|18:00|        -|         Neung|       |   ศุกร์|2023-03-31|2023-03-31|           |                  |             |      nam|
|1863|   NAM|       Bata|   Robinson_Saraburi| Retails|   Alert|กล้องเบอร์ 01 ไม่...|   Yes|11:00|    เตี้ย|      Sang+Pun|       |   ศุกร์|2023-03-31|2023-03-31|           |                  |             |      nam|
|1862|   NAM|       Bata|        Big C มหาชัย| Retails|   Alert|กล้องเบอร์ 01 ไม่...|   Yes|09:00|รถคันใหม่|       Num+Kie|       |   ศุกร์|2023-03-31|2023-03-31|           |                  |             |      nam|
|1861|   NAM|  TAG HEUER|         Mega Bangna| Retails| Install|ลูกค้าทำการ wirin...|   Yes|09:00|รถคันใหม่|์ี์Num+Loh+Pun|       |  จันทร์|2023-04-24|2023-04-24|           |                  |             |      nam|
|1860|   NAM|     Big C |           ลาดพร้าว2|    Mall|  Survey|                    |   Yes|15:00|     เช่า|     Toey+Sang|       |  จันทร์|2023-04-03|2023-04-03|           |                  |             |      nam|
|1859|   NAM|  Samsonite|        CPN_CT World| Retails|   Alert|                    |   Yes|13:00|    เตี้ย|      Num+Bird|รับทราบ|พฤหัสบดี|2023-03-30|2023-03-30|       Done|ดำเนินการเรียบร้อย|             |      nam|
|1858|   NAM|Mega Bangna|                   -|    Mall|  Survey|สาเหตุเข้ารอบสอง ...|   Yes|20:00|รถคันใหม่|    Neung+Toey|       |พฤหัสบดี|2023-03-30|2023-03-30|           |                  |             |      nam|
|1857|   NAM|       Bata|   Hompro สุวรรณภูมิ| Retails|   Alert|กล้องเบอร์ 01, 03...|   Yes|11:00|รถคันใหม่|     Toey+Sang|       |   ศุกร์|2023-04-07|2023-04-07|           |                  |             |      nam|
|1856|   NAM|       Bata|      BigC Bangpakok| Retails|   Alert|กล้องเบอร์ 03 ไม่...|   Yes|10:00|รถคันใหม่|     Toey+Sang|       |พฤหัสบดี|2023-04-06|2023-04-06|           |                  |             |      nam|
|1855|   NAM|       Bata|   Lotus Amatanakorn| Retails|   Alert|กล้องเบอร์ 01 มีฝ...|   Yes|20:00|รถคันใหม่|     Toey+Sang|       |     พุธ|2023-04-05|2023-04-05|           |                  |             |      nam|
|1854|   NAM|       Bata|    Central Westgate| Retails|   Alert|กล้องเบอร์ 02 ไม่...|   Yes|11:00|รถคันใหม่|     Sang+Toey|       |     Tue|2023-04-04|2023-04-04|           |                  |             |      nam|
|1853|   NAM|       Bata|          มาบุญครอง1| Retails|   Alert|กล้อง 1 ไม่ส่งข้อมูล|   Yes|11:00|     เช่า|Sang+Toey+Nine|       |  จันทร์|2023-04-03|2023-04-03|           |                  |             |      nam|
|1852|   NAM|   The Mall|             บางกะปิ|    Mall| รื้อถอน|กล้องเบอร์ 7,8 ชั...|   Yes|20:00|รถคันใหม่|     Sang+Dech|       |  อังคาร|2023-04-18|2023-04-18|           |                  |             |      nam|
|1851|   NAM|    Samsung|TOPTEL THE MALL B...| Retails| รื้อถอน|                    |   Yes|20:00|    เตี้ย|     Sang+Bird|รับทราบ|   ศุกร์|2023-03-31|2023-03-31|           |                  |             |      nam|
|1850|   NAM|Mega Bangna|                   -|    Mall|  Survey|                    |   Yes|13:00|รถคันใหม่|    Neung+Sang|       |     พุธ|2023-03-29|2023-03-29|           |                  |             |      nam|
|1849|   NAM|Mega Bangna|                   -|    Mall| รื้อถอน|ถอดกล้องทั้งหมด 6...|   Yes|20:00|รถคันใหม่|Neung+Loh+Bird|รับทราบ|     Thu|2023-03-30|2023-03-30|       Done|   ดำเนินเรียบร้อย|             |      nam|
|1848|   NAM|   MA_ใต้ 2|                   -|    Mall|      MA|                    |   Yes|10:00|      สูง|     Toey+Siam|       |  จันทร์|2023-04-17|2023-04-28|           |                  |             |      nam|
|1847|   NAM|   MA_ใต้ 1|                   -|    Mall|      MA|                    |   Yes|10:00|    เตี้ย|    Neung+Bird|รับทราบ|  จันทร์|2023-04-17|2023-04-30|           |                  |             |      nam|
+----+------+-----------+--------------------+--------+--------+--------------------+------+-----+---------+--------------+-------+--------+----------+----------+-----------+------------------+-------------+---------+
only showing top 20 rows

In [7]:
df.write \
    .mode("overwrite") \
	.partitionBy("date_start") \
    .saveAsTable("pyspark.engineer")

ERROR:root:KeyboardInterrupt while sending command.
Traceback (most recent call last):
  File "/HDFS01/anaconda3/envs/main/lib/python3.9/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/HDFS01/anaconda3/envs/main/lib/python3.9/site-packages/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "/HDFS01/anaconda3/envs/main/lib/python3.9/socket.py", line 704, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt

KeyboardInterrupt

In [ ]:
spark.read.table("pyspark.test3")

In [ ]:
os.system("sudo -u hdfs hdfs dfs -ls /user/hive/warehouse/pyspark.db/engineer_partition/date_start=2023-01-27")

In [ ]:
x = spark.createDataFrame(pd.read_sql("select * from raw_data_j1.j1_rank_no",con=)).toPandas()

In [ ]:
data = spark.read.table('etl_j4.manpower_resource_account_no_province') \
            .filter("series =='1'")

In [ ]:
if spark.sql('show tables in etl_j4').filter("tableName == 'manpower_resource_account_no_province3'").count() > 0:
    data.write \
        .mode('append') \
        .saveAsTable('etl_j4.manpower_resource_account_no_province2')
else:
    data.write \
    .mode('overwrite') \
    .saveAsTable('etl_j4.manpower_resource_account_no_province2')

In [ ]:
check