## Unixtime To Datetime

In [1]:
import pandas as pd
from datetime import datetime
import datetime

In [2]:
df = pd.read_csv("Connection.csv")

In [3]:
df['TIME'] = df["TIME"].str.replace(',','')

In [4]:
df['DATETIME'] = pd.to_datetime(df['TIME'], unit='s')

In [5]:
df = df.drop(columns='TIME')

In [6]:
df

,ID,NAME,TEXT,DATETIME
0,1,Mobile Data,"Mobile data connected, IP: 10.9.131.179 AIS",2023-04-07 06:20:52
1,2,Mobile Data,"Mobile data connected, IP: 10.10.191.148 AIS",2023-04-07 06:28:49
2,3,Mobile Data,Mobile data disconnected,2023-04-07 06:45:35
3,4,Network Operator,Connected to AIS operator,2023-04-07 06:46:05
4,5,Mobile Data,"Mobile data connected, IP: 10.18.103.215 AIS",2023-04-07 06:47:48
...,...,...,...,...
337,338,Mobile Data,"Mobile data connected, IP: 10.1.41.224 AIS",2023-05-11 07:05:25
338,339,Network Operator,Connected to AIS operator,2023-05-11 07:45:54
339,340,WiFi,WiFi client connected: F8:AC:65:01:9C:30,2023-05-11 08:25:14
340,341,WiFi,WiFi client disconnected: F8:AC:65:01:9C:30 N...,2023-05-11 08:30:56
341,342,WiFi,WiFi client connected: F8:AC:65:01:9C:30 Nutt...,2023-05-11 08:36:25