In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
import pyspark
import pandas as pd
import os
import requests
from datetime import datetime
from urllib.parse import quote

In [2]:
#MySQL
spark = SparkSession.builder \
           .appName('MySQL') \
           .config("spark.jars", "jars/mysql-connector-java-8.0.32.jar") \
           .getOrCreate()

23/02/22 04:09:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/22 04:09:03 WARN DependencyUtils: Local jar /HDFS01/airflow/notebooks/Pasit/Database_Connect_Pyspark/jars/mysql-connector-java-8.0.32.jar does not exist, skipping.
23/02/22 04:09:03 INFO SparkContext: Running Spark version 3.3.1
23/02/22 04:09:03 INFO ResourceUtils: ==============================================================
23/02/22 04:09:03 INFO ResourceUtils: No custom resources configured for spark.driver.
23/02/22 04:09:03 INFO ResourceUtils: ==============================================================
23/02/22 04:09:03 INFO SparkContext: Submitted application: MySQL
23/02/22 04:09:03 INFO ResourceProfile: Default ResourceProfile created, executor resources: Map(cores -> name: cores, amount: 1, script: , vendor: , memory -> name: memory, amount: 1024, script: , vendor: , offHeap -> name: offHeap, amount: 0, script: , vendor: ), task resources: Map(cpus -> name: cpus, amount: 1.0)
23/02/22 04:09:03 INFO ResourceProfile: Limiting resource is cpu
23/02/22 04:09:03 INFO ResourceProfileManager: Added ResourceProfile id: 0
23/02/22 04:09:03 INFO SecurityManager: Changing view acls to: root
23/02/22 04:09:03 INFO SecurityManager: Changing modify acls to: root
23/02/22 04:09:03 INFO SecurityManager: Changing view acls groups to:
23/02/22 04:09:03 INFO SecurityManager: Changing modify acls groups to:
23/02/22 04:09:03 INFO SecurityManager: SecurityManager: authentication disabled; ui acls disabled; users  with view permissions: Set(root); groups with view permissions: Set(); users  with modify permissions: Set(root); groups with modify permissions: Set()
23/02/22 04:09:04 INFO Utils: Successfully started service 'sparkDriver' on port 33171.
23/02/22 04:09:04 INFO SparkEnv: Registering MapOutputTracker
23/02/22 04:09:04 INFO SparkEnv: Registering BlockManagerMaster
23/02/22 04:09:04 INFO BlockManagerMasterEndpoint: Using org.apache.spark.storage.DefaultTopologyMapper for getting topology information
23/02/22 04:09:04 INFO BlockManagerMasterEndpoint: BlockManagerMasterEndpoint up
23/02/22 04:09:04 INFO SparkEnv: Registering BlockManagerMasterHeartbeat
23/02/22 04:09:04 INFO DiskBlockManager: Created local directory at /tmp/blockmgr-cacd08ac-324b-45b5-854b-30240ed606af
23/02/22 04:09:04 INFO MemoryStore: MemoryStore started with capacity 366.3 MiB
23/02/22 04:09:04 INFO SparkEnv: Registering OutputCommitCoordinator
23/02/22 04:09:04 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/22 04:09:05 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/22 04:09:05 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/02/22 04:09:05 INFO Utils: Successfully started service 'SparkUI' on port 4043.
23/02/22 04:09:05 ERROR SparkContext: Failed to add jars/mysql-connector-java-8.0.32.jar to Spark environment
java.io.FileNotFoundException: Jar /HDFS01/airflow/notebooks/Pasit/Database_Connect_Pyspark/jars/mysql-connector-java-8.0.32.jar not found
	at org.apache.spark.SparkContext.addLocalJarFile$1(SparkContext.scala:1949)
	at org.apache.spark.SparkContext.addJar(SparkContext.scala:2004)
	at org.apache.spark.SparkContext.$anonfun$new$12(SparkContext.scala:507)
	at org.apache.spark.SparkContext.$anonfun$new$12$adapted(SparkContext.scala:507)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.SparkContext.<init>(SparkContext.scala:507)
	at org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.lang.reflect.Constructor.newInstance(Constructor.java:423)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:238)
	at py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
	at py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:748)
23/02/22 04:09:05 INFO Executor: Starting executor ID driver on host nn02.bigdata
23/02/22 04:09:05 INFO Executor: Starting executor with user classpath (userClassPathFirst = false): ''
23/02/22 04:09:05 INFO Utils: Successfully started service 'org.apache.spark.network.netty.NettyBlockTransferService' on port 41560.
23/02/22 04:09:05 INFO NettyBlockTransferService: Server created on nn02.bigdata:41560
23/02/22 04:09:05 INFO BlockManager: Using org.apache.spark.storage.RandomBlockReplicationPolicy for block replication policy
23/02/22 04:09:05 INFO BlockManagerMaster: Registering BlockManager BlockManagerId(driver, nn02.bigdata, 41560, None)
23/02/22 04:09:05 INFO BlockManagerMasterEndpoint: Registering block manager nn02.bigdata:41560 with 366.3 MiB RAM, BlockManagerId(driver, nn02.bigdata, 41560, None)
23/02/22 04:09:05 INFO BlockManagerMaster: Registered BlockManager BlockManagerId(driver, nn02.bigdata, 41560, None)
23/02/22 04:09:05 INFO BlockManager: Initialized BlockManager: BlockManagerId(driver, nn02.bigdata, 41560, None)

In [3]:
df = spark.read \
    .format("jdbc") \
    .option("driver","com.mysql.cj.jdbc.Driver") \
    .option("url", "jdbc:mysql://192.168.10.22:3306/test") \
    .option("query", "select * from data limit 5") \
    .option("user", "root") \
    .option("password", "P@ssw0rd") \
    .load()

23/02/22 04:09:06 INFO SharedState: Setting hive.metastore.warehouse.dir ('null') to the value of spark.sql.warehouse.dir.
23/02/22 04:09:06 INFO SharedState: Warehouse path is 'file:/HDFS01/airflow/notebooks/Pasit/Database_Connect_Pyspark/spark-warehouse'.

In [4]:
df.toPandas()

23/02/22 04:09:12 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
23/02/22 04:09:13 INFO CodeGenerator: Code generated in 357.03888 ms
23/02/22 04:09:13 INFO SparkContext: Starting job: toPandas at /tmp/ipykernel_11895/3523621387.py:1
23/02/22 04:09:13 INFO DAGScheduler: Got job 0 (toPandas at /tmp/ipykernel_11895/3523621387.py:1) with 1 output partitions
23/02/22 04:09:13 INFO DAGScheduler: Final stage: ResultStage 0 (toPandas at /tmp/ipykernel_11895/3523621387.py:1)
23/02/22 04:09:13 INFO DAGScheduler: Parents of final stage: List()
23/02/22 04:09:13 INFO DAGScheduler: Missing parents: List()
23/02/22 04:09:13 INFO DAGScheduler: Submitting ResultStage 0 (MapPartitionsRDD[2] at toPandas at /tmp/ipykernel_11895/3523621387.py:1), which has no missing parents
23/02/22 04:09:13 INFO MemoryStore: Block broadcast_0 stored as values in memory (estimated size 18.2 KiB, free 366.3 MiB)
23/02/22 04:09:13 INFO MemoryStore: Block broadcast_0_piece0 stored as bytes in memory (estimated size 7.2 KiB, free 366.3 MiB)
23/02/22 04:09:13 INFO BlockManagerInfo: Added broadcast_0_piece0 in memory on nn02.bigdata:41560 (size: 7.2 KiB, free: 366.3 MiB)
23/02/22 04:09:14 INFO SparkContext: Created broadcast 0 from broadcast at DAGScheduler.scala:1513
23/02/22 04:09:14 INFO DAGScheduler: Submitting 1 missing tasks from ResultStage 0 (MapPartitionsRDD[2] at toPandas at /tmp/ipykernel_11895/3523621387.py:1) (first 15 tasks are for partitions Vector(0))
23/02/22 04:09:14 INFO TaskSchedulerImpl: Adding task set 0.0 with 1 tasks resource profile 0
23/02/22 04:09:14 INFO TaskSetManager: Starting task 0.0 in stage 0.0 (TID 0) (nn02.bigdata, executor driver, partition 0, PROCESS_LOCAL, 4299 bytes) taskResourceAssignments Map()
23/02/22 04:09:14 INFO Executor: Running task 0.0 in stage 0.0 (TID 0)

23/02/22 04:09:14 INFO JDBCRDD: closed connection
23/02/22 04:09:14 INFO Executor: Finished task 0.0 in stage 0.0 (TID 0). 2469 bytes result sent to driver
23/02/22 04:09:14 INFO TaskSetManager: Finished task 0.0 in stage 0.0 (TID 0) in 603 ms on nn02.bigdata (executor driver) (1/1)
23/02/22 04:09:14 INFO TaskSchedulerImpl: Removed TaskSet 0.0, whose tasks have all completed, from pool
23/02/22 04:09:14 INFO DAGScheduler: ResultStage 0 (toPandas at /tmp/ipykernel_11895/3523621387.py:1) finished in 0.893 s
23/02/22 04:09:14 INFO DAGScheduler: Job 0 is finished. Cancelling potential speculative or zombie tasks for this job
23/02/22 04:09:14 INFO TaskSchedulerImpl: Killing all running tasks in stage 0: Stage finished
23/02/22 04:09:14 INFO DAGScheduler: Job 0 finished: toPandas at /tmp/ipykernel_11895/3523621387.py:1, took 0.970229 s

,task_id,dag_id,run_id,start_date,end_date,duration,state,try_number,hostname,unixname,...,pid,max_tries,executor_config,pool_slots,queued_by_job_id,external_executor_id,trigger_id,trigger_timeout,next_method,next_kwargs
0,LoadtoHive,telemetering_stations,scheduled__2022-08-30T10:00:00+00:00,30/8/2022 10:15:49.431311+00,30/8/2022 10:15:51.893139+00,2.461828,success,1,Airflow1,root,...,71441.0,1,gAV9lC4=,1,2.0,,,,,null
1,RemoveTmp,early_warning_status,scheduled__2022-09-20T09:18:00+00:00,20/9/2022 09:33:20.524631+00,20/9/2022 09:33:20.524631+00,0.000000,skipped,0,,root,...,NaN,1,gAV9lC4=,1,NaN,,,,,null
2,backup_data_schema,hive_data_backup,scheduled__2022-08-29T10:00:00+00:00,30/8/2022 10:00:01.537461+00,30/8/2022 10:16:09.055564+00,967.518103,success,1,Airflow1,root,...,240326.0,1,gAV9lC4=,1,2.0,,,,,null
3,pythonChagetoCSV,early_warning_status,scheduled__2022-08-30T10:03:00+00:00,30/8/2022 10:18:15.738998+00,30/8/2022 10:18:18.098593+00,2.359595,success,1,Airflow1,root,...,83335.0,1,gAV9lC4=,1,2.0,,,,,null
4,log_datetime,hive_data_backup,scheduled__2022-08-29T10:00:00+00:00,30/8/2022 10:16:09.923257+00,30/8/2022 10:16:10.09634+00,0.173083,success,1,Airflow1,root,...,73119.0,1,gAV9lC4=,1,2.0,,,,,null

In [ ]:
df.write \
  .format("jdbc") \
  .option("driver","com.mysql.cj.jdbc.Driver") \
  .option("url", "jdbc:mysql://192.168.10.22:3306/test") \
  .option("dbtable", "engineer") \
  .option("user", "root") \
  .option("password", "P@ssw0rd") \
  .save()