In [ ]:
import pandas as pd

In [4]:
df = pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/regexp_extract_split.csv')

## แยกข้อมูลออกเป็น Columns ใหม่

In [6]:
df.title_year.str.extract('(.+)\s\((\d{4})\)')

                      0     1
0             Toy Story  1995
1          A Bug's Life  1998
2           Toy Story 2  1999
3        Monsters, Inc.  2001
4          Finding Nemo  2003
5       The Incredibles  2004
6                  Cars  2006
7           Ratatouille  2007
8                WALL-E  2008
9                    Up  2009
10          Toy Story 3  2010
11               Cars 2  2011
12                Brave  2012
13  Monsters University  2013
14           Inside Out  2015